@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

* {
  font-family: 'Rubik Dirt', cursive;
  background-color: #1E0E1A;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;